<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844870036693-o9pao6d3qfu9tiuuipnv4nji4t3r0rib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844870036693-o9pao6d3qfu9tiuuipnv4nji4t3r0rib</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>844870036693-9lq5a4ehqbfj6b3h02v3ml9o1aptnj0m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBT27a5PGWi1E6jSmpE7jGfSPHi97ji1cc</string>
	<key>GCM_SENDER_ID</key>
	<string>844870036693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bestFlutterUiTemplates</string>
	<key>PROJECT_ID</key>
	<string>chat-app-d9a5f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-d9a5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844870036693:ios:261bca9106707106bf865c</string>
</dict>
</plist>